*{
	margin: 0px;
	padding: 0px;

}

body {
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: 300;
	color: #525252;
}

/*All Images*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/*border box in container*/
.container {
	position: relative;
	width: 100%;
	max-width: 960px; /*max width for container*/
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
   }

a {
	color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
}
h1 {
	font-size: 2.5em;
}


/*Start with grid*/
[class*="col-"]{
   
    width: 100%; /*start with phone 100%*/
    float: left;
	/* padding: 15px; */
    
}

.row::after{
    content:" ";
    clear: both;
    display: table;
}

/*Hero Header*/
/*1- logo and nav*/

 .logo {
	position: absolute; 
	left: 10px;
	top: 10px;
	max-width: 90px;  /*logo size*/
	height: auto; 
	z-index: 999;
}

.main_nav {
	top: 0;
	max-height: 50px;
	z-index: 999;
	width: 100%;
	padding-top: 40px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding-bottom: 6px;
	text-decoration: none;
	/* background-color: red; */
	
}

nav ul {
	list-style: none;
	overflow: hidden;
	text-align: right;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

nav ul a {
	text-transform: uppercase;
	font-size: 0.9em;
	text-decoration: none;
}
nav ul a:hover {
	color: #CFCFCF;
}

/*hide hamburgur*/

#show{
	visibility: hidden;
}

/*2- hero background */

header {
    min-height: 500px;
    max-height: 800px; /*same height as filter*/
	padding: 0 0 30% 0;
	box-sizing: border-box;
    background-image: url('../collection/ook3cv68g4i11.jpg');
    background-size: cover;
   
}

#all-header{ /*filter here*/
    background-color:rgba(80, 78, 78, 0.516);
    min-height: 800px; /*same height as header*/
	max-height: 40%;
}



/*text and img in hero header*/
.text-hero{
	padding:0;
	margin:0;
}

.text-hero div {
	padding-left: 3%;
	margin: 0%;
}

header h1 {
	font-size: 4.2em; /*66px*/
	color: #FFFFFF;
	padding-top: 10%;
	font-weight: 600;
}
header h2 {
	color: #FFFFFF;
	padding: 2% 0;
	
}
header p {
	color: #FFFFFF;
}

.app-store-button {
	display: inline-block;
	max-height: 50px;
	width: auto;
	padding-top: 5%;
	padding-right: 10px;
}

.phone {
width: 250px;
position: absolute;
top: 180px;
z-index: 1000;
display: inline;

}

#fire{
	position: relative;
	top: 70px;
	left: 30px;
	width: 180px;
	height:325px;
	z-index: 999;
	display: inline;
}

/* About Section */

#about {
	background: #F6F6F6;
	padding: 80px 0 80px 0;
	min-height: 400px;
}
#about-text div{
	margin: 2%;
}

/* Features Section */

#features {
	padding: 80px 0 80px 0;
	min-height: 400px;
	width:100%;
}
.iconFeature img{
	width:70%;
	position: relative;
	display: inline-block;
	top:60px;
}

.phoneFeature {
	max-width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}
#features h2 {
	padding-top: 60px;
}

/* Review section */
#reviews {
	background-color: rgba(42, 41, 41, 0.931);
	background-image: url("../icon/review.png"); 
	background-size: 15%;
	background-position: 90% 90% ;
	background-repeat: no-repeat;
	padding: 80px 0 80px 0;
	min-height: 180px;
}

/*Yummy food section*/
#yummy{
	padding: 80px 0 80px 0;
	background: #F6F6F6;
	min-height: 550px;
	/* margin-bottom: 5%; */
	
}
#yummy .three-phones {
	padding-left:8%;
}

#yummy .three-phones div{
	text-align: center;
	margin-left: 5%;
}

#yummy .three-phones div #phone-left{
	margin-top: 30%;
}

#yummy .three-phones div #phone-right{
	margin-top: 30%;
}
#yummy h1{
	position: relative;
	text-align: center;
	margin-bottom: 5%;
	color: rgb(218, 24, 50);
}

/* Pricing Section */

#pricing{
	padding: 80px 0 80px 0;
	min-height: 400px;	
}

#pricing h1{
	position: relative;
	text-align: center;
	margin-bottom: 5%;
	color: rgb(218, 24, 50);
}

/* Style the list */
.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 1%;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
	background-color: black;
	color: white;
	font-size: 25px;
  }

  #colorG{
	  background-color: orangered;
  } 
  
  /* List items */
  .price li {
	/* border-bottom: 1px solid #eee; */
	padding: 20px;
	text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
	background-color: #eee;
	font-size: 40px;
  }
  
  /* The "Sign Up" button */
  .button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
  }

/* Contact Section */

#contact {
	background: #F6F6F6;
	padding: 80px 0 80px 0;
	min-height: 420px;
}
form {
	font-family: 'Open Sans';
	box-sizing: border-box;
	margin-top: 50px;
}
textarea {
	float: left;
	width: 100%;
	max-width: 100%;
	border: none;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border-radius: 0.3rem;
	background: #ffffff;
	color: #525252;
	font-family: 'Open Sans';
	font-size: 18px;
}
input {
	float: left;
	width: 100%;
	max-width: 100%;
	border: none;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border-radius: 0.3rem;
	background: #ffffff;
	color: #525252;
	font-family: 'Open Sans';
	font-size: 18px;
}
input[type=submit], textarea[type=submit] {
	background: #0D8CB0;
	color: #fff;
	width: auto;
}
input::placeholder, textarea::placeholder {
 color: #525252;
}
input.error, textarea.error {
	background: #AD4747;
	color: #fff;
}
input.error::placeholder, textarea.error::placeholder {
 color: black;
}
textarea {
	height: 10rem;
}


/*Feedback*/

#feedback{
	padding: 80px 0 80px 0;
	min-height: 150px;
	text-align: center;	
}

 #stuff-center {
	text-align: center;
    float: left;
    position: relative;
	display: inline-block;
	left: 6%;
	
}

#stuff-center div{
    display: inline-block;
    float: left;
    margin: 1.8%;
    width: 14%;

}
#feedback div img{
	width: 22%;
	float:left;
	margin-left:10%;
 }

 #feedback p{
	font-size: 1.3vw;
	padding: 3% 0%;
	font-weight: 600;
 }

 #stuff-center p{
	font-size: 1vw;
	padding: 5% 5%;
    float:left;
    position: relative;
    top: 5%;
 }

 #feedback h2{
    font-size: 2vw;
 }

 .btn  {
    background-color: red;
}

.btn:focus {     
    background-color:yellow;    
}


/* Footer Section */

#social {

	padding: 80px 0 80px 0;
	min-height: 150px;
	text-align: center;	
	background-color: #424242;
	text-align: center;
}

#social-center{
	/* background-color: aqua; */
	position: relative;
	left: 25%;
}

#social p {
	color: ghostwhite;
	text-align: center;
}

 #social span img{
	width: 13%;
	text-align: center;
	padding-bottom: 5%;
	padding-right: 5%;
} 



/*----------------------------------------------------------------*/

/*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAA QUIEYYYYYYYYYYYYYYYYYYYYYYYYYYY*/

/*sizes between desktop & tablet*/
@media only screen and (min-width: 1024px){ 
	.col-1 {width: 8.33%; }
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.order2{
		display: none;
	}
}

/*Tablet ipad normal=786, ipad pro=1024*/
@media only screen and (max-width: 1024px){ 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	
	.main_nav {
		display: none;
	}

	header h1 {
		font-size: 3.4em;
	}

	#disapear-phone{
		display: none;
	}

	.logo{ /*reduce bird size*/
		width: 50px;
		display: inline;
	}

	.order1{
		display: none;
	}

	
	
/*hide and show content in menu (hamburger) classes*/

#show{
	visibility: visible;
	/* background-color: rebeccapurple; */
	position: relative;
	padding-top: 15%;
	
}
 #show .logo {
	/* background-color: black; */
	width: 40px;
	position: absolute;
	/* top: 15%; */
	left: 89%;
	margin-top: 10%;
} 

/*show & hide*/
#content {
    display: none;
}
#show:target #content {
    display: inline-block;
}
#show:target #open {
	display: none;
}

/*menu appearance*/
#content {
	background-color: lightgoldenrodyellow;
	width:90%; /*select width in parent*/
	margin: 0% 5%;
}

#content ul {
	list-style: none; 
	/* display: block; by default with div*/
	overflow: hidden;
	/* background-color: aqua; */
}
#content ul li {
	margin-left: 35px;
	/* display: block; by default with div*/
	line-height: 3;
	letter-spacing: 1px;
}

 #content ul a {
	text-transform: uppercase;
	font-size: 0.9em;
	text-decoration: none;
	color: red;
}
#content ul a:hover {
	color: #CFCFCF;
}  

#close{
	background-color: lightgray;
	border-radius: 100%;
}

.text-hero div {
	padding: 2% 5%;
	/* background-color: red; */
	margin-left: 3%;
}

#bird{
	display: none;
}

}

/*Phone 360-galaxy 375-iphone 411-pixel*/
@media only screen and (max-width: 414px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	
	header h1 {
		font-size: 2.5em;
		
	}
	header h2 {
		font-size: 1.5em;
		
	}
	header p {
		font-size: 0.8em;
	}

	.app-store-button {
		display: inline-block;
		max-height: 40px;
		
	}

	.text-hero div {
		padding: 5%;
		/* background-color: red; */
		text-align: center;
		margin-left: 3%;
	}

	#show .logo { /*both hide and show hamburger icons*/
		/* background-color: black; */
		width: 50px;
		position: absolute;
		left: 82%;
		margin-top: 10%;
	} 

}



